<h1><%= trn_geth('TITLE_AUDIT_TRAIL') %></h1>

<%= will_paginate @audits, :class => "apple_pagination", :next_label => trn_get('NEXT_PAGE'), :previous_label => trn_get('PREVIOUS_PAGE') %>

<table cellspacing="0" style="width:100%;">
  <thead class="header" style="text-align: left;">
  <%= sortable_table_header :name => trn_geth('HEADER_CREATED_AT'),  :sort => "created_at", :page => params[:page] %>
  <%= sortable_table_header :name => trn_geth('USER_LABEL'),  :sort => "user_id", :page => params[:page] %>
  <%= sortable_table_header :name => trn_geth('HEADER_AUDIT_ACTION'),  :sort => "action", :page => params[:page] %>
  <%= sortable_table_header :name => trn_geth('HEADER_AUDIT_RESULT') ,  :sort => "result", :page => params[:page] %>
  <%= sortable_table_header :name => trn_geth('HEADER_AUDIT_REASON') ,  :sort => "reason", :page => params[:page] %>
  </thead>
  <tbody>
  <% @audits.each do |audit| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= audit.created_at %></td>
        <td><%= link_to audit.user.login, users_path(audit.user) %></td>
        <td><%= trn_get audit.action %></td>
        <td><%= trn_get audit.result %></td>
        <td><%= trn_get audit.reason %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @audits, :class => "apple_pagination", :next_label => trn_get('NEXT_PAGE'), :previous_label => trn_get('PREVIOUS_PAGE') %>

<%= page_entries_info @audits %>
