<h2><%= trn_get('TITLE_DOOR_COMBINATION_EDIT') %></h2>

<%= form_tag door_combination_path(@door_combination), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), door_combinations_path %> |
<%= link_to trn_geth('BUTTON_DELETE'), door_combination_path(@door_combination), :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
