<h2><%= trn_get('TITLE_DOOR_FRAME_ADD') %></h2>

<%= form_tag door_frames_path, :method => :post do %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_geth('BUTTON_ADD') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), door_frames_path %>

