<script type="text/javascript" charset="utf-8">
	function change_swatch() {
		$('colorswatch').setStyle({backgroundColor:$('product_color_value').value });
	}
</script>


<% semantic_form_for @product_color do |form| %>
  <div><%= form.error_messages %></div><br/>
	<div id="colorswatch" style="<%="float:right;background-color:#{@product_color.value};width:100px;height:100px;"%>"></div>
	<% form.inputs  do %>
		<%= form.input :name, :label => trn_geth('LABEL_NAME') %>
		<%= form.input :value, :label => trn_geth('LABEL_COLOR_VALUE'), :input_html => {:onchange=> 'change_swatch();', :onkeyup=> 'change_swatch();'}%>
	<% end %>
	<% form.buttons do %>
 		<%= form.commit_button  trn_get('BUTTON_SAVE_COLOR') %>
	<% end %>
<% end %>