<h2><%= trn_get('TITLE_OPENING_EDIT') %></h2>

<%= form_for(@opening) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), openings_path %> |
<%= link_to trn_geth('BUTTON_DELETE'), @opening, :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
