<%= error_messages_for "frame_profile" %>

<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_NAME') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= f.text_field "name", :size => 20 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_PREVIEW_IMAGE_NAME') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= f.file_field :photo %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_WIDTH') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= f.text_field "width", :size => 20 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_SEPARATOR_WIDTH') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= f.text_field "separator_width", :size => 20 %></td>
  </tr>
  <% %w{slab l lp slf}.each do |kind| %>
    <tr valign="top">
      <td align="right"><%= trn_geth("LABEL_GAP_#{kind.upcase}") %><%= trn_geth('LABEL_SEMICOLON') %></td>
      <td><%= f.text_field "gap_#{kind}", :size => 20 %></td>
    </tr>
  <% end %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_SILL') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= f.text_field "sill", :size => 20 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_PRICE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= f.text_field "price", :size => 20 %></td>
  </tr>
</table>
