<%= error_messages_for "door_panel_family" %>

<table>
  <%= gv_fields_for(f, :name, 'LABEL_NAME', :size => 30) %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_MATERIAL') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= f.select 'slab_material_id', @slab_materials.map { |sm| [sm.name, sm.id] } %></td>
  </tr>
</table>
