<h2><%= trn_get('TITLE_DOOR_GLASS_FAMILY_EDIT') %></h2>

<%= form_for @door_panel_family do |f| %>
  <%= render :partial => 'form', :locals => { :f => f} %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), door_panel_families_path %> |
<%= link_to trn_geth('BUTTON_DELETE'), door_panel_family_path(@door_panel_family), :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
