<h2><%= trn_geth('TITLE_SHAPE_LIST') %></h2>

<%= link_to trn_geth('BUTTON_ADD'), new_shape_path %>
<table cellspacing="0">
  <tr class="header">
    <th><%= trn_geth('HEADER_NAME') %></th>
    <th><%= trn_geth('HEADER_SECTIONS_WIDTH') %></th>
    <th><%= trn_geth('HEADER_SECTIONS_HEIGHT') %></th>
    <th><%= trn_geth('HEADER_CORNERS_NUMBER') %></th>
    <th></th>
  </tr>
<% for shape in @shapes %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= shape.tr_name %></td>
    <td><%= shape.sections_width %></td>
    <td><%= shape.sections_height %></td>
    <td><%= shape.corners %></td>
    <td>
      <%= link_to trn_geth('BUTTON_SHOW'), shape %> |
      <%= link_to trn_geth('BUTTON_EDIT'), edit_shape_path(shape) %> |
      <%= link_to trn_geth('BUTTON_DELETE'), shape, :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
