<%= error_messages_for "door_panel_dimension" %>

<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_HEIGHT') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field 'door_panel_dimension', 'height', :size => 30 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_WIDTH') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field 'door_panel_dimension', 'width', :size => 30 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_PRICE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field 'door_panel_dimension', 'price', :size => 30 %></td>
  </tr>
</table>
