<h2><%= trn_get('TITLE_DOOR_OPENING_EDIT') %></h2>

<%= form_for @door_opening do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), door_openings_path %> |
<%= link_to trn_geth('BUTTON_DELETE'), door_opening_path(@door_opening), :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
