<h2><%= trn_geth('TITLE_DOOR_OPENING_LIST') %></h2>

<%= link_to trn_geth('BUTTON_ADD'), new_door_opening_path %>
<table cellspacing="0">
  <tr class="header">
    <th><%= trn_geth('HEADER_NAME') %></th>
    <th><%= trn_geth('HEADER_PREVIEW') %></th>
    <th></th>
  </tr>
<% for door_opening in @door_openings %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= door_opening.name %></td>
    <td>
      <% unless door_opening.preview_image_name.blank? %>
        <%= image_tag '/images/door_openings/' + door_opening.preview_image_name %>
      <% end %>
    </td>
    <td>
      <%= link_to trn_geth('BUTTON_EDIT'), edit_door_opening_path(door_opening) %> |
      <%= link_to trn_geth('BUTTON_DELETE'), door_opening_path(door_opening), :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

