<%= error_messages_for "translation" %>

<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_KEY') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field "translation", "translation_key", :size => 50 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_FR') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field "translation", "fr", :size => 50 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_EN') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field "translation", "en", :size => 50 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_ES') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field "translation", "es", :size => 50 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_COMMENTS') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_area "translation", "comments", :cols => "39", :rows => "10" %></td>
  </tr>
</table>
