<h2><%= trn_get('TITLE_OPTION_EDIT') %></h2>

<%= form_for @option, :html => {:multipart => true} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), options_path(:mt => @module_type.id) %> |
<%= link_to trn_geth('BUTTON_SHOW'), option_path(@option) %> |
<%= link_to trn_geth('BUTTON_DELETE'), @option, :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
