<h2><%= trn_geth('TITLE_CUSTOMER_EDIT')%></h2>

<%= form_for @customer, :html=> { :autocomplete => 'off'} do %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>

<%= link_to trn_geth('BUTTON_SHOW'), edit_customer_path(@customer) %> |
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), customers_path %>
