<%= error_messages_for "door_section" %>

<table>
  <%= gv_fields_for(f, :name, 'LABEL_NAME', :size => 30) %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_PRICE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= f.text_field 'price', :size => 20 %></td>
  </tr>
</table>
