<table>
<tr valign="top" >
  <%
     dims = dl.get_image_size
     options = {:style => "margin-top: 3px;"}
     if dims[0] > dims[1]
       options[:width] = 175
     else
       options[:height] = 175
     end
  %>
  <td width="1%" valign="top"><%= wicked_pdf_dynamic_image_tag "/system/images/doors/preview_#{dl.id}.png", options %></td>
  <td >

    <table style="font-size: small;">
      <tr>
        <td><%= trn_geth('HEADER_DOOR_COMBINATION') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
        <td><%= dl.door_combination.tr_name %></td>
      </tr>
      <tr>
        <td><%= trn_geth('HEADER_FRAME_PROFILE') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
        <td><%= dl.frame_profile.tr_name %></td>
      </tr>
      <tr>
        <td><%= trn_geth('HEADER_SLAB_MATERIAL') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
        <td><%= dl.slab_material.tr_name %></td>
      </tr>
      <% if !dl.interior_color.blank? || !dl.standard_interior_color.blank? %>
          <tr>
            <td><%= trn_get('LABEL_INTERIOR_COLOR')%></td>
            <td><%= h dl.interior_color.blank? ? dl.standard_interior_color.tr_name : dl.tr_interior_color + trn_get("LABEL_CUSTOM") %></td>
          </tr>
      <% end %>
      <% if !dl.exterior_color.blank? || !dl.standard_exterior_color.blank?%>
          <tr>
            <td><%= trn_get('LABEL_EXTERIOR_COLOR')%></td>
            <td><%= h dl.exterior_color.blank? ? dl.standard_exterior_color.tr_name : dl.tr_exterior_color + trn_get("LABEL_CUSTOM")%> </td>
          </tr>
      <% end %>
      <tr>
        <td><%= trn_geth('HEADER_DOOR_OPENING') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
        <td><%= dl.door_opening.tr_name %></td>
      </tr>
      <tr>
        <td><%= trn_geth('HEADER_DOOR_BORING') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
        <td><%= dl.door_boring.tr_name %></td>
      </tr>
      <% dl.door_line_sections.each_with_index do |section, index| %>
          <tr>
            <td valign="top"><%= trn_geth('HEADER_DOOR_SECTION') %> <%= index + 1 %><%= trn_geth('LABEL_SEMICOLON') %></td>
            <td>
              <%= section.door_section.tr_name %>,
              <% if section.door_panel %>
                  <%= section.door_panel.tr_name %>,
              <% end %>
              <% if section.door_glass %>
                  <%= section.door_glass.door_glass_family.tr_name %> / <%= section.door_glass.tr_name %>,
              <% end %>
              <%= section.door_panel_dimension.width %>"
            </td>
          </tr>
      <% end %>
    </table>

  </td>
  <td width="10%" align="right"><%= number_to_currency(dl_price) %></td>
  <td width="10%" align="center"><%= dl.quantity %></td>
  <td width="10%" align="right"><%= number_to_currency(dl_price * dl.quantity) %></td>
</tr>
<tr valign="top"  >
  <td rowspan="2" style="border-bottom: 2px solid #cccccc;">
    <span style="font-size:x-small;font-weight:bold;"><%= trn_get('MSG_VIEW_FROM_OUTSIDE') %></span>
  </td>
  <td colspan="3"  style="border-bottom: 2px solid #cccccc;">

    <% if dl.door_line_options.length > 0 %>
        <%= trn_geth('PRINT_HEADER_OPTIONS') %><%= trn_geth('LABEL_SEMICOLON') %>
        <%= dl.door_line_options.collect {|opt| show_option_with_quantity(opt.option, opt.quantity)}.join(", ").html_safe %>
    <% else %>
        &nbsp;
    <% end %>

  </td>
  <td  style="border-bottom: 2px solid #cccccc;">&nbsp;</td>
</tr>
</table>