<table>
  <tr valign="top">
    <%
       dims = dl.get_image_size
       options = {:style => "margin-top: 3px;"}
       if dims[0] > dims[1]
         options[:width] = :max_thumbnail_size
       else
         options[:height] = :max_thumbnail_size
       end
    %>
    <td width="<%= options[:width] %>" valign="top"><%= wicked_pdf_dynamic_image_tag "/system/images/doors/preview_#{dl.id}.png", options %></td>
    <td>
      <table width="100%">
        <tr>
          <td nowrap="nowrap"><%= trn_geth('HEADER_DOOR_COMBINATION') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
          <td width="45%"><%= dl.door_combination.name %></td>
          <td nowrap="nowrap"><%= trn_geth('HEADER_FRAME_PROFILE') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
          <td><%= dl.frame_profile.name %></td>
        </tr>
        <tr>
          <td nowrap="nowrap"><%= trn_geth('HEADER_SLAB_MATERIAL') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
          <td width="45%"><%= dl.slab_material.name %></td>
          <td nowrap="nowrap"><%= trn_geth('HEADER_DOOR_OPENING') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
          <td><%= dl.door_opening.name %></td>
        </tr>
        <tr>
          <% if !dl.interior_color.blank? || !dl.standard_interior_color.blank? %>
              <td nowrap="nowrap"><%= trn_get('LABEL_INTERIOR_COLOR') %></td>
              <td width="45%"><%= h dl.interior_color.blank? ? dl.standard_interior_color.name : dl.interior_color + trn_get("LABEL_CUSTOM") %></td>
          <% else %>
              <td></td>
              <td></td>
          <% end %>
          <% if !dl.exterior_color.blank? || !dl.standard_exterior_color.blank? %>
              <td nowrap="nowrap"><%= trn_get('LABEL_EXTERIOR_COLOR') %></td>
              <td><%= h dl.exterior_color.blank? ? dl.standard_exterior_color.name : dl.exterior_color + trn_get("LABEL_CUSTOM") %> </td>
          <% else %>
              <td></td>
              <td></td>
          <% end %>
        </tr>
        <tr>
          <td nowrap="nowrap"><%= trn_geth('HEADER_DOOR_BORING') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
          <td width="45%"><%= dl.door_boring.name %></td>
          <td></td>
          <td></td>
        </tr>
        <% dl.door_line_sections.each_with_index do |section, index| %>
            <tr>
              <td nowrap="nowrap"><%= trn_geth('HEADER_DOOR_SECTION') %> <%= index + 1 %><%= trn_geth('LABEL_SEMICOLON') %></td>
              <td colspan="3">
                <%= section.door_section.name %>,
                <% if section.door_panel %>
                    <%= section.door_panel.name %>,
                <% end %>
                <% if section.door_glass %>
                    <%= section.door_glass.door_glass_family.name %> / <%= section.door_glass.name %>,
                <% end %>
                <%= section.door_panel_dimension.width %>"
              </td>
            </tr>
        <% end %>
      </table>
    </td>
    <td width="10%" align="right"></td>
    <td width="10%" align="right"></td>
    <td width="10%" align="center"><%= dl.quantity %></td>
  </tr>
  <tr valign="top">
    <td style="border-bottom: 2px dotted #808080;">
      <span style="font-size:smaller;font-weight:bold;"><%= trn_get('MSG_VIEW_FROM_OUTSIDE') %></span>
    </td>
    <td colspan="3" style="border-bottom: 2px dotted #808080;">
      <% if dl.door_line_options.length > 0 %>
          <%= trn_geth('PRINT_HEADER_OPTIONS') %><%= trn_geth('LABEL_SEMICOLON') %>
          <%= dl.door_line_options.collect { |opt| show_option_with_quantity(opt.option, opt.quantity) }.join(", ").html_safe %>
      <% else %>
          &nbsp;
      <% end %>

    </td>
    <td style="border-bottom: 2px solid #cccccc;">&nbsp;</td>
  </tr>
</table>
