  <tr valign="top" class="quotation-line">
    <td colspan="1" style="border-bottom: 2px dotted #808080;">
    </td>
    <td colspan="1" style="border-bottom: 2px dotted #808080;">
      <table>
        <tr>
          <td><%= trn_geth('HEADER_DESCRIPTION') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td><%= line.description %> </td>
        </tr>
        <tr>
          <td><%= trn_geth('HEADER_UNIT_PRICE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td class="price-override-handle"
              data-line-id='<%= line.id %>'
              data-uri='<%= url_for(:controller => 'manual_lines', :action => 'update_line_price', :id => line.id) %>'
              data-full-price='<%= line.unit_price %>'
              data-discount='<%= quotation.discount %>' data-markup='<%= quotation.markup %>'
              data-current-price='<%= line.unit_price %>' data-original-price='<%= line.original_price %>'
              style='cursor:pointer'>
            <% unit_price_style = current_user.has_role?('administrator') && line.has_price_override? ? 'font-weight:bold;font-style:italic;' : '' %>
            <%= content_tag 'span', :style => unit_price_style do -%>
              <%= number_to_currency(line_price) %>
            <% end -%>
          </td>
        </tr>
        <tr>
          <td><%= trn_geth('HEADER_QUANTITY') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td><%= line.quantity %></td>
        </tr>
      </table>
    </td>
    <td align="right" style="border-bottom: 2px dotted #808080;"><%= format('%.2f', line.quantity * line_price) %>$</td>
    <td nowrap="nowrap" style="border-bottom: 2px dotted #808080;">
      <%= link_to trn_geth('BUTTON_EDIT'), :controller => 'manual_lines', :action => 'edit', :id => line.id %> |
      <%= link_to trn_geth('BUTTON_DELETE'), {:controller => 'manual_lines', :action => 'delete', :id => line.id}, :confirm => trn_geth('LABEL_DELETE_QUESTION') %>
    </td>
  </tr>

