<table width="100%" style="font-size: small;">
  <tr valign="top">
    <td width="50%">
      <%= trn_geth('PRINT_LABEL_CUSTOMER') %>
    </td>
    <td width="50%">
      <%= trn_geth('PRINT_LABEL_DELIVERY_ADDRESS') %>
    </td>
  </tr>
  <td width="50%" style="border: 1px solid #808080;" valign="top">

    <table width="100%" style="font-size: small;">
      <tr>
        <td><%= @quotation.customer_name %></td>
      </tr>
      <tr>
        <td><%= @quotation.customer_address.gsub("\n", '<br/>').html_safe if @quotation.customer_address %></td>
      </tr>
      <tr>
        <td>
          <% if !@quotation.customer_email.blank? %>
              <%= @quotation.customer_email %>
              <br />
          <% end %>
          <% if !@quotation.customer_phone.blank? %>
              <%= trn_geth('PRINT_LABEL_PHONE') %><%= trn_geth('LABEL_SEMICOLON') %>
              <%= @quotation.customer_phone %>
              <br />
          <% end %>

          <% if !@quotation.customer_fax.blank? %>
              <%= trn_geth('PRINT_LABEL_FAX') %><%= trn_geth('LABEL_SEMICOLON') %>
              <%= @quotation.customer_fax %>
              <br />
          <% end %>
        </td>
      </tr>
    </table>

  </td>
  <td width="50%" style="border: 1px solid #808080;" valign="top">
    <% if !@quotation.delivery_address.blank? %>
        <%= @quotation.delivery_address.gsub("\n", '<br/>').html_safe%>
    <% elsif !@quotation.customer_address.blank? %>
        <%= @quotation.customer_address.gsub("\n", '<br/>').html_safe %>
    <% else %>
        &nbsp;<br />

    <% end%>
  </td>
  </tr>
</table>