  <tr valign="top" class="quotation-line">
    <td width="1%" style="border-bottom: 2px dotted #808080;"><%= image_tag "/system/images/previews/preview_#{line.id}.png" %></td>
    <td style="border-bottom: 2px dotted #808080;">

      <table>
        <% if line.label and !line.label.empty? %>
        <tr>
          <td><%= trn_geth('HEADER_LABEL') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td><%= line.label %></td>
        </tr>
        <% end %>
        <tr>
          <td><%= trn_geth('HEADER_SERIE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td><%= line.serie.tr_name %></td>
        </tr>
        <tr>
          <td><%= trn_geth('HEADER_SHAPE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td><%= line.shape.tr_name %></td>
        </tr>
        <tr>
          <td><%= trn_geth('HEADER_OPENINGS') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td><%= line.quotation_lines_openings.map { |o| o.opening.tr_abbreviation}.join %></td>
        </tr>
        <% if line.has_interior_color? %>
            <tr>
                <td><%= trn_get('LABEL_INTERIOR_COLOR')%></td>
                <td><%= h display_interior_color_name(line) %></td>
            </tr>
        <% end %>
        <% if line.has_exterior_color?%>
            <tr>
                <td><%= trn_get('LABEL_EXTERIOR_COLOR')%></td>
                <td><%= h display_exterior_color_name(line) %> </td>
            </tr>
        <% end %>
        <% if line.options_quotation_lines.length > 0 %>
        <tr>
          <td valign="top"><%= trn_geth('HEADER_OPTIONS') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td>
            <% line.options_quotation_lines.each do |option| %>
              <%= option.option.tr_description %>
              <%= "x #{option.quantity}" if option.quantity > 1 %>
              <br/>
            <% end %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td><%= trn_geth('HEADER_HEIGHT') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td><%= format('%.3f', line.height) %></td>
        </tr>
          <tr>
            <td><%= trn_geth('HEADER_WIDTH') %><%= trn_geth('LABEL_SEMICOLON') %></td>
            <td><%= format('%.3f', line.width) %></td>
          </tr>
        <tr>
          <td><%= trn_geth('HEADER_UNIT_PRICE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td class="price-override-handle" data-line-id='<%= line.id %>' data-label='<%= line.label %>' data-full-price='<%= line.price %>'
                                            data-discount='<%= quotation.discount %>' data-markup='<%= quotation.markup %>'
                                            data-current-price='<%= line.price %>' data-original-price='<%= line.original_price %>' style='cursor:pointer'>
            <%= number_to_currency line_price %>
          </td>
        </tr>
        <tr>
          <td><%= trn_geth('HEADER_QUANTITY') %><%= trn_geth('LABEL_SEMICOLON') %></td>
          <td><%= line.quantity %></td>
        </tr>
      </table>

    </td>
    <td align="right" style="border-bottom: 2px dotted #808080;" class='total-price' data-line-id='<%= line.id %>'><%= format('%.2f', line.quantity * line.price) %>$</td>
    <td nowrap="nowrap" style="border-bottom: 2px dotted #808080;">
      <%= link_to trn_geth('BUTTON_EDIT'), :controller => 'quotation_line', :action => 'edit', :id => line %> |
      <%= link_to trn_geth('BUTTON_DELETE'), {:controller => 'quotation_line', :action => 'delete', :id => line}, :confirm => trn_geth('LABEL_DELETE_QUESTION') %>
    </td>
  </tr>

