<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_NUMBER') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.slug %></td>
  </tr>
  <% if @quotation.description and !@quotation.description.empty? %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_DESCRIPTION') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.description %></td>
  </tr>
  <% end %>
  <% if @quotation.comments and !@quotation.comments.empty? %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_COMMENTS') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.comments.gsub("\n", '<br/>').html_safe %></td>
  </tr>
  <% end %>
  <tr valign="top">
    <td align="right"><strong><%= trn_geth('LABEL_PROJECT_NAME') %><%= trn_geth('LABEL_SEMICOLON') %></strong></td>
    <td><strong><%= @quotation.project_name %></strong></td>
  </tr>
  <% if @quotation.customer_name and !@quotation.customer_name.empty? %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_CUSTOMER_NAME') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.customer_name %></td>
  </tr>
  <% end %>
  <% if @quotation.customer_address and !@quotation.customer_address.empty? %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_CUSTOMER_ADDRESS') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.customer_address.gsub("\n", '<br/>').html_safe %></td>
  </tr>
  <% end %>
  <% if @quotation.delivery_address and !@quotation.delivery_address.empty? %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_DELIVERY_ADDRESS') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.delivery_address.gsub("\n", '<br/>').html_safe %></td>
  </tr>
  <% end %>
  <% if @quotation.customer_phone and !@quotation.customer_phone.empty? %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_CUSTOMER_PHONE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.customer_phone %></td>
  </tr>
  <% end %>
  <% if @quotation.customer_fax and !@quotation.customer_fax.empty? %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_CUSTOMER_FAX') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.customer_fax %></td>
  </tr>
  <% end %>
  <% if @quotation.customer_email and !@quotation.customer_email.empty? %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_CUSTOMER_EMAIL') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.customer_email %></td>
  </tr>
  <% end %>
	<tr valign="top">
		<td align="right"><%= trn_geth('LABEL_DATE_CREATED')%><%= trn_geth('LABEL_SEMICOLON') %></td>
		<td><%= gv_humanize_time @quotation.created_at %></td>
	</tr>
	<tr valign="top">
		<td align="right"><%= trn_geth('LABEL_DATE_MODIFIED')%><%= trn_geth('LABEL_SEMICOLON') %></td>
		<td><%= gv_humanize_time @quotation.updated_at %></td>
	</tr>
  <% if @quotation.notes and !@quotation.notes.empty? %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_NOTES') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.notes.gsub("\n", '<br/>').html_safe %></td>
  </tr>
  <% end %>

</table>
<hr/>
<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_TRANSPORT') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= number_to_currency(@quotation.transport, :format => "%n%u") %></td>
  </tr>
  <% if current_user.has_role?('administrator')%>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_DISCOUNT') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= number_to_percentage(@quotation.discount, :precision => 2) %></td>
  </tr>
  <% end %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_MARKUP') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= number_to_percentage(@quotation.markup, :precision => 2) %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_get('LABEL_TAXES') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= number_to_percentage(@quotation.taxes, :precision => 3)%></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_get('LABEL_PST_RATE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= number_to_percentage(@quotation.taxes_pst, :precision => 3)%></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_DEPOSIT') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= number_to_currency(@quotation.deposit || 0, :format => "%n%u")%></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_QUOTE_READY_TO_SIGN') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.ready_to_sign ? trn_geth('MSG_YES') : trn_geth('MSG_NO') %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_COMPANY') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.company.name unless @quotation.company.nil? %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_CONSULTANT') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @quotation.consultant unless @quotation.consultant.nil? %></td>
  </tr>
</table>

<br/>

<div class="form_button_bar" >
  <%= css_button_to trn_geth('BUTTON_BACK_TO_LIST'), :action => 'index' %>
  <%= css_button_to trn_geth('BUTTON_DELETE'), {:action => 'destroy', :id => @quotation.slug}, :method => :delete, :confirm => trn_geth('LABEL_DELETE_QUESTION') %>
  <%= css_button_to trn_geth('BUTTON_EDIT'), :action => 'edit', :id => @quotation.slug %>
  <%= css_button_to trn_geth('BUTTON_PRINT'), :action => 'print', :id => @quotation.slug %>
  <% if current_user.has_role?('administrator') %>
    <%= css_button_to trn_geth('BUTTON_PRINT_INVOICE'), :action => 'print_invoice', :id => @quotation.slug %>
    <%= css_button_to trn_geth('BUTTON_PRINT_MANIFEST'), :action => 'print_manifest', :id => @quotation.slug %>
    <%= css_button_to trn_geth('BUTTON_PRINT_CALCULATIONS'), :action => 'print_calculations', :id => @quotation.slug %>
  <% end %>
</div>
<br/>

<h3><%= trn_geth('HEADER_LINES')%></h3>
<% @current_user.module_types.each do |mt| %>
  <%= link_to "#{trn_geth('BUTTON_ADD')} #{trn_geth("LABEL_ONE_#{mt.gender.upcase}").downcase} #{mt.tr_name.downcase}", :controller => 'quotation_line', :action => 'add', :id => @quotation.slug, :mt => mt.id %> |
<% end %>
<%= link_to trn_geth('BUTTON_ADD_OPTION'), :controller => 'option_quotation', :action => 'add', :id => @quotation.slug %> |
<%= link_to trn_geth('BUTTON_ADD_MANUAL_LINE'), :controller => 'manual_lines', :action => 'new', :id => @quotation.slug %>
<table class="quotation">
  <tr>
    <th><%= trn_geth('HEADER_PREVIEW') %></th>
    <th><%= trn_geth('HEADER_DETAILS') %></th>
    <th><%= trn_geth('HEADER_TOTAL_PRICE') %></th>
    <th></th>
  </tr>
  <% total = 0 %>
  <% @quotation.quotation_lines.order('position asc').each do |line| %>
    <% line_price = line.compute_final_price %>
    <% total += line.quantity * line_price %>
    <%= render :partial => 'quotation_line', :locals => { :line => line, :line_price => line_price, :quotation => @quotation } %>
  <% end %>
  <% @quotation.door_lines.order('position asc').each do |door| %>
    <% door_price = door.price * (1 - @quotation.discount / 100) * (1 + @quotation.markup / 100) %>
    <% total += door.quantity * door_price %>
    <%= render :partial => 'door_line', :locals => { :door => door, :door_price => door_price, :quotation => @quotation  } %>
  <% end %>
  <% @quotation.options_quotations.each do |option| %>
    <% option_price = option.option.price * (1 - @quotation.discount / 100) * (1 + (@quotation.markup / 100.00)) %>
    <% total += option.quantity * option_price %>
    <%= render :partial => 'option', :locals => { :option => option, :option_price => option_price, :quotation => @quotation } %>
  <% end %>
  <% @quotation.manual_lines.order('position asc').each do |option| %>
    <% option_price = option.unit_price * (1 - @quotation.discount / 100) * (1 + (@quotation.markup / 100.00)) %>
    <% total += option.quantity * option_price %>
    <%= render :partial => 'manual_line', :locals => { :option => option, :option_price => option_price, :quotation => @quotation } %>
  <% end %>
  <tr>
    <td align="right"><%=trn_geth('TOTAL_QUANTITY')%><%= trn_geth('LABEL_SEMICOLON') %> <%= @quotation.quotation_lines.collect(&:quantity).sum + @quotation.door_lines.collect(&:quantity).sum %> </td>
    <td align="right" colspan="1">Total</td>
    <td align="right"><%= format('%.2f', total) %>$</td>
    <td></td>
  </tr>
</table>
