<h2><%= trn_geth('TITLE_QUOTATION_LIST') %></h2>

<%= link_to trn_geth('BUTTON_ADD'), new_quotation_path %>

<%= form_tag search_quotations_path, :remote =>true , :id => 'quotation-search-form' do %>
  <%= submit_tag "Search", :style => "position:absolute;bottom:-20px;left:-20px;z-index:-1;"%>
<% end %>

<div id="results">
  <%= render :partial => 'quotation_list'%>
</div>

<% content_for :extra_javascript do %>
    // :update => "results"
<% end %>
