<h2><%= trn_geth('TITLE_QUOTATION_LIST') %></h2>

<%= link_to trn_geth('BUTTON_ADD'), new_quotation_path %>

<%= form_remote_tag :url => search_quotations_path, :id => 'search-form', :update => "results", :loading => "toggleLoading();" do %>
  <div id="results">
    <%= render :partial => 'quotation_list' %>
  </div>
  <%= submit_tag "Search", :style => "display:none;"%>
<% end %>

<script type="text/javascript">
      // create a convenient toggleLoading function
      var toggleLoading = function() {
          jQuery("#loading").toggle()
      };
</script>