<% discount_percent = (1 - @quotation.discount / 100.0) %>
<%= render :partial => 'print_header' %>

<!-- customer information -->
<%= render :partial => 'print_customer_information' %>
<br/>

<!-- content -->
<table width="100%" cellspacing="0" cellpadding="3" style="font-size: small;">
  <% total = 0 %>
    <thead style="display:table-header-group;">
      <tr bgcolor="#b2b2b2">
        <th><%= trn_geth('PRINT_HEADER_PREVIEW') %></th>
        <th><%= trn_geth('PRINT_HEADER_DETAILS') %></th>
        <th><%= trn_geth('PRINT_HEADER_UNIT_PRICE') %></th>
        <th><%= trn_geth('PRINT_HEADER_QUANTITY') %></th>
        <th><%= trn_geth('PRINT_HEADER_TOTAL_PRICE') %></th>
      </tr>
    </thead>

  <!-- fenetres -->
  <% for ql in @quotation.quotation_lines.order('position asc') %>
    <tr valign="top" style="page-break-inside: avoid;">
      <%
        dims = ql.get_image_size
        options = {:style => "margin-top: 3px;"}
        if dims[0] > dims[1]
          options[:width] = 175
        else
          options[:height] = 175
        end
      %>
      <td width="1%" valign="top" rowspan="2" style="border-bottom: 2px solid #cccccc;">
        <%= wicked_pdf_dynamic_image_tag "/system/images/previews/preview_#{ql.id}.png", options %>
        <br><span style="font-size:x-small;font-weight:bold;"><%= trn_get('MSG_VIEW_FROM_OUTSIDE') %></span>
      </td>
      <td >
        <table width="100%" style="font-size: small;">
          <% if ql.label and !ql.label.empty? %>
          <tr>
            <td nowrap="nowrap"><%= trn_geth('PRINT_HEADER_LABEL') %><%= trn_geth('LABEL_SEMICOLON') %></td>
            <td colspan="3"><%= ql.label %></td>
          </tr>
          <% end %>
          <tr>
            <td width="1%" nowrap="nowrap"><%= trn_geth('PRINT_HEADER_SERIE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
            <td><%= ql.serie.tr_name %></td>
            <td nowrap="nowrap"><%= trn_geth('PRINT_HEADER_SHAPE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
            <td><%= ql.shape.tr_name %></td>
          </tr>
          <tr>
            <td nowrap="nowrap"><%= trn_geth('PRINT_HEADER_OPENINGS') %><%= trn_geth('LABEL_SEMICOLON') %></td>
            <td colspan="3"><%= ql.quotation_lines_openings.map { |o| o.opening.tr_abbreviation}.join %></td>
          </tr>
          <tr>
            <td nowrap="nowrap"><%= trn_geth('PRINT_HEADER_WIDTH') %><%= trn_geth('LABEL_SEMICOLON') %></td>
            <td><%= number_with_precision ql.width %></td>
            <td nowrap="nowrap"><%= trn_geth('PRINT_HEADER_HEIGHT') %><%= trn_geth('LABEL_SEMICOLON') %></td>
            <td><%= number_with_precision ql.height %></td>
          </tr>
           <tr>
              <% if !ql.interior_color.blank? || !ql.standard_interior_color.blank? %>
                <td><%= trn_get('LABEL_INTERIOR_COLOR')%></td>
                <td><%= h ql.interior_color.blank? ? ql.standard_interior_color.tr_name : ql.tr_interior_color + trn_get("LABEL_CUSTOM") %></td>
              <% end %>
              <% if !ql.exterior_color.blank? || !ql.standard_exterior_color.blank?%>
                <td><%= trn_get('LABEL_EXTERIOR_COLOR')%></td>
                <td><%= h ql.exterior_color.blank? ? ql.standard_exterior_color.tr_name : ql.tr_exterior_color + trn_get("LABEL_CUSTOM")%> </td>
              <% end %>
           </tr>
        </table>
      </td>
      <%
        calculate_dimensions(ql)
        ql_price = ql.price * discount_percent

         # compute the option prices
         total_option_prices = 0
         option_string = ""

         ql.options_quotation_lines.each do |opt|
           option_price = calculate_one_option_price(opt.option, @openings, Shape.find(ql.shape_id)) * discount_percent
           total_option_prices += option_price

               option_string += ', ' unless option_string.blank?
           option_string += opt.option.tr_description
           option_string += " x #{opt.quantity}" if opt.quantity != 1
           option_string += " (#{number_to_currency(option_price)})"
        end
      %>
      <td width="10%" align="right">
        <%= trn_geth('LABEL_OPENING') %><%= trn_geth('LABEL_SEMICOLON') %> <%= number_to_currency(ql_price - total_option_prices) %>
        <br/>
        <% if total_option_prices > 0 %>
          <%= trn_geth('HEADER_OPTIONS') %><%= trn_geth('LABEL_SEMICOLON') %> <%= number_to_currency(total_option_prices) %>
        <% end %>
      </td>
      <td width="10%" align="center"><%= ql.quantity %></td>
      <td width="10%" align="right"><%= number_to_currency(ql_price * ql.quantity) %></td>
    </tr>
    <tr valign="top" style="page-break-inside: avoid;">
        <td colspan="3"  style="border-bottom: 2px solid #cccccc;">

            <% if ql.options_quotation_lines.length > 0 %>
                <%= trn_geth('PRINT_HEADER_OPTIONS') %><%= trn_geth('LABEL_SEMICOLON') %>
            <%= option_string %>
            <% else %>
              &nbsp;
            <% end %>
        </td>
        <td  style="border-bottom: 2px solid #cccccc;">&nbsp;</td>
    </tr>
    <% total += ql_price * ql.quantity %>
  <% end %>

  <!-- portes -->
  <% for dl in @quotation.door_lines.order('position asc') %>
    <tr valign="top" style="page-break-inside: avoid;">
      <%
        dims = dl.get_image_size
        options = {:style => "margin-top: 3px;"}
        if dims[0] > dims[1]
          options[:width] = 175
        else
          options[:height] = 175
        end
      %>
      <td width="1%" valign="top"><%= wicked_pdf_dynamic_image_tag "/system/images/doors/preview_#{dl.id}.png", options %></td>
      <td >

        <table style="font-size: small;">
          <tr>
            <td><%= trn_geth('HEADER_DOOR_COMBINATION') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
            <td><%= dl.door_combination.tr_name %></td>
          </tr>
          <tr>
            <td><%= trn_geth('HEADER_FRAME_PROFILE') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
            <td><%= dl.frame_profile.tr_name %></td>
          </tr>
          <tr>
            <td><%= trn_geth('HEADER_SLAB_MATERIAL') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
            <td><%= dl.slab_material.tr_name %></td>
          </tr>
          <% if !dl.interior_color.blank? || !dl.standard_interior_color.blank? %>
            <tr>
              <td><%= trn_get('LABEL_INTERIOR_COLOR')%></td>
              <td><%= h dl.interior_color.blank? ? dl.standard_interior_color.tr_name : dl.tr_interior_color + trn_get("LABEL_CUSTOM") %></td>
            </tr>
          <% end %>
          <% if !dl.exterior_color.blank? || !dl.standard_exterior_color.blank?%>
            <tr>
              <td><%= trn_get('LABEL_EXTERIOR_COLOR')%></td>
              <td><%= h dl.exterior_color.blank? ? dl.standard_exterior_color.tr_name : dl.tr_exterior_color + trn_get("LABEL_CUSTOM")%> </td>
            </tr>
          <% end %>
          <tr>
            <td><%= trn_geth('HEADER_DOOR_OPENING') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
            <td><%= dl.door_opening.tr_name %></td>
          </tr>
          <tr>
            <td><%= trn_geth('HEADER_DOOR_BORING') %> <%= trn_geth('LABEL_SEMICOLON') %></td>
            <td><%= dl.door_boring.tr_name %></td>
          </tr>
          <% dl.door_line_sections.each_with_index do |section, index| %>
          <tr>
            <td valign="top"><%= trn_geth('HEADER_DOOR_SECTION') %> <%= index + 1 %><%= trn_geth('LABEL_SEMICOLON') %></td>
            <td>
              <%= section.door_section.tr_name %>,
              <% if section.door_panel %>
                <%= section.door_panel.tr_name %>,
              <% end %>
              <% if section.door_glass %>
                <%= section.door_glass.door_glass_family.tr_name %> / <%= section.door_glass.tr_name %>,
              <% end %>
              <%= section.door_panel_dimension.width %>"
            </td>
          </tr>
          <% end %>
        </table>

      </td>
      <%
        dl_price = dl.price * discount_percent

        # compute the option prices
        total_option_prices = 0
        option_string = ""

        first_time = true
        dl.door_line_options.each do |opt|
          option_price = opt.price * discount_percent
          total_option_prices += option_price

          option_string += ', ' unless first_time
          option_string += opt.option.tr_description
          option_string += " x #{opt.quantity}" if opt.quantity != 1
          option_string += " (#{number_to_currency(option_price)})"

          first_time = false
        end
      %>
      <td width="10%" align="right">
        <%= trn_geth('LABEL_OPENING') %><%= trn_geth('LABEL_SEMICOLON') %> <%= number_to_currency(dl_price - total_option_prices) %>
        <br/>
        <% if total_option_prices > 0 %>
          <%= trn_geth('HEADER_OPTIONS') %><%= trn_geth('LABEL_SEMICOLON') %> <%= number_to_currency(total_option_prices) %>
        <% end %>
      </td>
      <td width="10%" align="center"><%= dl.quantity %></td>
      <td width="10%" align="right"><%= number_to_currency(dl_price * dl.quantity) %></td>
    </tr>
    <tr valign="top" style="page-break-inside: avoid;" >
        <td rowspan="2" style="border-bottom: 2px solid #cccccc;">
            <span style="font-size:x-small;font-weight:bold;"><%= trn_get('MSG_VIEW_FROM_OUTSIDE') %></span>
        </td>
        <td colspan="3"  style="border-bottom: 2px solid #cccccc;">

            <% if dl.door_line_options.length > 0 %>
                <%= trn_geth('PRINT_HEADER_OPTIONS') %><%= trn_geth('LABEL_SEMICOLON') %>
            <%= option_string %>
            <% else %>
              &nbsp;
            <% end %>

        </td>
        <td  style="border-bottom: 2px solid #cccccc;">&nbsp;</td>
    </tr>
    <% total += dl_price * dl.quantity %>
  <% end %>

  <!-- options -->
  <% print_header = true if @quotation.options_quotations.length > 0 %>
  <% for option in @quotation.options_quotations %>
    <% if print_header %>
      <tr bgcolor="#b2b2b2">
        <th colspan="2"><%= trn_geth('PRINT_HEADER_DETAILS') %></th>
        <th><%= trn_geth('PRINT_HEADER_UNIT_PRICE') %></th>
        <th><%= trn_geth('PRINT_HEADER_QUANTITY') %></th>
        <th><%= trn_geth('PRINT_HEADER_TOTAL_PRICE') %></th>
      </tr>
      <% print_header = false %>
    <% end %>
    <tr valign="top">
      <td colspan="2" style="border-bottom: 2px solid #cccccc;">
	<%= option.option.tr_description %>
      </td>
        <% option_price = option.option.price * (1 - @quotation.discount / 100) %>
      <td width="10%" align="right" style="border-bottom: 2px solid #cccccc;"><%= number_to_currency option_price %></td>
      <td width="10%" align="center" style="border-bottom: 2px solid #cccccc;"><%= option.quantity %></td>
      <td width="10%" align="right" style="border-bottom: 2px solid #cccccc;"><%= number_to_currency option_price * option.quantity %></td>
    </tr>
    <% total += option_price * option.quantity %>
  <% end %>
  <!-- manual lines -->
  <% print_header = true if @quotation.manual_lines.length > 0 %>
  <% for option in @quotation.manual_lines.order('position asc') %>
    <% if print_header %>
      <tr bgcolor="#b2b2b2">
        <th colspan="2"><%= trn_geth('PRINT_HEADER_DETAILS') %></th>
        <th><%= trn_geth('PRINT_HEADER_UNIT_PRICE') %></th>
        <th><%= trn_geth('PRINT_HEADER_QUANTITY') %></th>
        <th><%= trn_geth('PRINT_HEADER_TOTAL_PRICE') %></th>
      </tr>
      <% print_header = false %>
    <% end %>
    <tr valign="top">
      <td colspan="2" style="border-bottom: 2px solid #cccccc;">
        <%= option.description %>
      </td>
        <% option_price = option.unit_price * (1 - @quotation.discount / 100) %>
      <td width="10%" align="right" style="border-bottom: 2px solid #cccccc;"><%= number_to_currency option_price %></td>
      <td width="10%" align="center" style="border-bottom: 2px solid #cccccc;"><%= option.quantity %></td>
      <td width="10%" align="right" style="border-bottom: 2px solid #cccccc;"><%= number_to_currency option_price * option.quantity %></td>
    </tr>
    <% total += option_price * option.quantity %>
  <% end %>

  <!-- total -->
  <tr style="page-break-inside: avoid;">
    <td><%= trn_geth('TOTAL_QUANTITY')%><%= trn_geth('LABEL_SEMICOLON') %> <%= @quotation.quotation_lines.collect(&:quantity).sum + @quotation.door_lines.collect(&:quantity).sum %> </td>
    <td><%= trn_get('LABEL_GST')%><%= trn_geth('LABEL_SEMICOLON') %> <%= @quotation.company.gst_number %></td>
    <td colspan="3"><%= trn_get('LABEL_PST')%><%= trn_geth('LABEL_SEMICOLON') %> <%= @quotation.company.pst_number %></td>
  </tr>
  <% if @quotation.ready_to_sign %>
</table>
<div style="page-break-before:always;">
<table style="font-size: small;" >
  <% end %>
  <tr >
    <td colspan="3" rowspan="6" style="border:1px solid #808080;" valign="top">
      <p>
        <strong><%= trn_geth('PRINT_HEADER_NOTES') %></strong><br />
          <%= @quotation.notes.gsub("\n", '<br/>').html_safe if @quotation.notes and !@quotation.notes.empty?%>
      </p>
    </td>
    <td align="right" colspan="1"  width="20%"  bgcolor="#b2b2b2" style="border-top:1px solid #808080;">
      <strong><%= trn_get('PRINT_HEADER_SUBTOTAL')%></strong>
    </td>
    <td align="right" bgcolor="#b2b2b2" style="border-top:1px solid #808080;border-right:1px solid #808080;">
      <strong><%= number_to_currency total %></strong>
    </td>
  </tr>
  <% total += @quotation.transport %>
  <% taxes = @quotation.calculate_taxes(total) %>
  <% total += taxes %>
  <% pst_taxes = @quotation.calculate_pst(total)%>
  <tr bgcolor="#b2b2b2">
    <td align="right" bgcolor="#b2b2b2" width="20%" >
      <strong><%= trn_geth('PRINT_HEADER_TRANSPORT') %></strong>
    </td>
    <td align="right" bgcolor="#b2b2b2" style="border-right:1px solid #808080;">
      <strong><%= number_to_currency @quotation.transport %></strong>
    </td>
    </tr>
  <tr bgcolor="#b2b2b2">
    <td align="right" colspan="1"  width="20%">
      <strong><%= trn_get('PRINT_HEADER_TAXES') % number_to_percentage(@quotation.taxes) %></strong>
    </td>
    <td align="right" style="border-right:1px solid #808080;">
      <strong><%= number_to_currency taxes %></strong>
    </td>
  </tr>
  <tr bgcolor="#b2b2b2" >
    <td align="right" colspan="1" style="border-bottom:1px solid #808080;">
      <strong><%= trn_get('PRINT_HEADER_PST_TAXES') % number_to_percentage(@quotation.taxes_pst) %></strong>
    </td>
    <td align="right" style="border-right:1px solid #808080;border-bottom:1px solid #808080;">
      <strong><%= number_to_currency pst_taxes %></strong>
    </td>
  </tr>
  <% total += pst_taxes %>
  <tr bgcolor="#b2b2b2" >
    <td align="right" colspan="1" style="border-bottom:1px solid #808080;">
      <strong><%= trn_geth('PRINT_HEADER_TOTAL_PRICE') %></strong>
    </td>
    <td align="right" style="border-right:1px solid #808080;border-bottom:1px solid #808080;">
      <strong><%= number_to_currency total %></strong>
    </td>
  </tr>
<% if !@quotation.comments.blank? %>
  <tr>
   <td colspan="5" style="border:1px solid #808080;" valign="top">
      <p>
        <strong><%= trn_geth('PRINT_LABEL_COMMENTS') %></strong><br />
          <%= @quotation.comments.gsub("\n", '<br/>').html_safe %>
      </p>
    </td>
   </tr>
<% end %>
  <% if @quotation.ready_to_sign %>
    <%= render :partial => 'print_signature_block' %>
  <% end %>
</table>
<% if @quotation.ready_to_sign %>
  </div>
<% end %>
