<h2><%= trn_get('TITLE_MANUAL_LINE_EDIT') %></h2>

<%= form_for @manual_line do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_QUOTATION'), :controller => 'quotation', :action => 'show', :id => @manual_line.quotation.slug %> |
<%= link_to trn_geth('BUTTON_DELETE'), manual_line_path(@manual_line), :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
