<h2><%= trn_get('TITLE_DOOR_PANEL_DIMENSION_ADD') %></h2>

<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_DOOR_PANEL_FAMILY') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @door_panel_family.tr_name %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_DOOR_PANEL') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @door_panel.tr_name %></td>
  </tr>
</table>
<br/>

<%= form_for [@door_panel_family, @door_panel, @door_panel_dimension] do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_geth('BUTTON_ADD') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), door_panel_family_door_panel_door_panel_dimensions_path(@door_panel_family, @door_panel) %>

