<h2><%= trn_get('TITLE_QUOTATION_LINE_ADD') %></h2>

<%= form_tag({:action => 'create'}, :id => 'ql')  do %>
  <%= render :partial => 'form2' %>
  <%= submit_tag trn_geth('BUTTON_ADD') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_QUOTATION'), :controller => 'quotation', :action => 'show', :id => @quotation_line.quotation.slug %>
