<h2>Editing Sheet Size for Series <%= params[:series_name]%> </h2>
<%= form_tag :action => 'update', :id => @sheet do %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_SERIE'), :controller => 'series', :action => 'show', :id => @sheet.sheet_product_id %>
