<% content_for :extra_javascript do %>
  $('#option_id').change(function () {
      var new_image_url = $('#option_id option:selected').css('background-image').replace(/url\(\"(.*)\"\)/, "$1").replace("thumb", "original");
      $('#photo').attr('src', new_image_url);
  });

<% end %>
<h2><%= trn_get('TITLE_ADD_OPTION_IN_QUOTATION') %></h2>

<%= form_tag :action => 'create', :id => @quotation.slug do %>
<table border="0" cellspacing="5" cellpadding="5">
	<tr height="50">
		<td> <%= trn_gett('LABEL_OPTION') %><%= trn_get('LABEL_SEMICOLON') %></td>
		<td><%= select_tag('option_id', options_for_select_with_style(@options.map { |o| 
	      [o.tr_description, "padding: 2px; padding-left: 32px;background: no-repeat url(#{image_path o.photo.url(:thumb)})", o.id]}), 
				:style => 'padding:2px 2px 2px 32px;')%>
		</td>
		<td rowspan="3" width="300" height="300" style="vertical-align:top;">
			<%=image_tag(@options[0].photo.url, :id=>'photo') %>
		</td>
	</tr>
	<tr height="50">
		<td><%= trn_gett('LABEL_QUANTITY') %><%= trn_get('LABEL_SEMICOLON') %></td>
		<td><%= text_field_tag 'quantity', @quantity, :size => 6 %></td>
		<td></td>
		</tr>
	<tr><td valign="top">
		<%= submit_tag trn_geth('BUTTON_ADD') %>
		</td><td>		</td><td></td></tr>
</table>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_QUOTATION'), :controller => 'quotation', :action => 'show', :id => @quotation.slug %>


