<h3><%= trn_geth('HEADER_OPTIONS_FOR_CATEGORY') %> <%= @option_category.name %></h3>

<%= form_for @option_category, url: update_options_option_category_path(@option_category) do |f| %>
<!-- first list all options assigned to this category -->
	<% @option_category.options.each do |option| %>
    <%= check_box_tag 'options[]', option.id, true %><%= thumbmail_with_popup(option) %><%= option.description %><br/>
	<% end %>

<h3><%= trn_geth('AVAILABLE_HEADER_OPTIONS_FOR_CATEGORY') %></h3>

	<% @options.each do |option| %>
		<!-- now list all options that are not yet assigned -->
    <%= check_box_tag 'options[]', option.id, false %><%= thumbmail_with_popup(option) %><%= option.description %><br/>
	<% end %>

  <%= f.submit trn_geth('BUTTON_SAVE') %> | <%= link_to 'Back', option_categories_path %>

<% end %>
