<h1><%= trn_gett('TITLE_CREATE_CATEGORY') %></h1>

<%= form_for(@option_category) do %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag trn_get('BUTTON_ADD') %>
<% end %>

<%= link_to trn_get('BUTTON_BACK'), option_categories_path %>
