<%= error_messages_for 'quotation_line' %>

<%= hidden_field 'quotation_line','shape_id' %>


<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_SERIE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= select 'quotation_line', 'serie_id', Serie.all(:order => 'name').collect{|s| [s.name, s.id]}, :include_blank => trn_geth('MSG_SELECT_ONE') %>
        <%= check_box_tag :ql_copy_options, 1, true %> <%= trn_get('LABEL_QUOTATION_LINE_USE_PREV_OPTIONS')%></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_SHAPE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td>
        <table id="shape-gallery" cellspacing="5"></table>
    </td>
  </tr>
</table>
<br />

<% content_for :extra_javascript do %>
    // fetch shape gallery when select menu changes
    $("#quotation_line_serie_id").change(function() {
        // clear the gallery if the user chose the prompt
        if ($(this).val() == "") {
            $('#shape-gallery').empty();
            $('#button-next').attr("disabled", "disabled");
            return;
        }

        $.ajax({
        url: "<%= url_for(:controller => 'quotation_line', :action => 'get_shapes_for_series') %>",
        dataType: 'script',
        data: { serie_id : $(this).val()}
        });
    });

    // Single-select UI handling
    $(document).on('click', '#shape-gallery td', function(){
        $('#shape-gallery td.selected').removeClass('selected');
        $(this).addClass('selected');
        $('#button-next').removeAttr('disabled');
//        $('#button-next').trigger('click');
        $('#quotation_line_shape_id').val($('#shape-gallery td.selected').data('shape-id'));
        var form = $(this).parents('form:first');
        form.submit();

    });

    $('#button-next').click(function(){
        $('#quotation_line_shape_id').val($('#shape-gallery td.selected').data('shape-id'));
    });
//    $('#button-next').attr("disabled", "disabled");

<% end %>
