<%= error_messages_for "quotation_line" %>

<table>
  <tr>
    <td align="right"><%= trn_geth('LABEL_SERIE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= select 'quotation_line', 'serie_id', Serie.all(:order => 'name').collect{|s| [s.tr_name, s.id]} %></td>
  </tr>
  <tr>
    <td align="right"><%= trn_geth('LABEL_SHAPE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= select 'quotation_line', 'shape_id', Shape.all(:order => 'name').collect{|s| [s.tr_name, s.id]} %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_QUANTITY') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field 'quotation_line', 'quantity', :size => 10 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_LABEL') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field 'quotation_line', 'label', :size => 30 %></td>
  </tr>
</table>

<%= render :partial => 'openings_and_dimensions' %>

<% content_for :extra_javascript do %>
    $('#quotation_line_serie_id').change(function () {
        $.ajax({
        url: "<%= url_for(:controller => 'quotation_line', :action => 'change_series') %>",
        dataType: 'script',
        data:  $('#ql').serialize()
        });
    });

    $('#quotation_line_shape_id').change(function () {
        $.ajax({
        url: "<%= url_for(:controller => 'quotation_line', :action => 'change_shape') %>",
        dataType: 'script',
        data: $('#ql').serialize()
        });
    });


<% end %>