<% @shapes.each_with_index do |shape, idx| %>
    <%= '<tr>'.html_safe  if idx % 4 == 0 %>
    <td data-shape-id="<%= shape.id %>">
      <%= shape.tr_name %>
      <br />
      <%= image_tag shape.photo(:normal) %>
    </td>
    <%= '</tr>'.html_safe if idx % 4 == 3 %>
<% end %>