<h2><%= trn_get('TITLE_DOOR_GLASS_FAMILY_ADD') %></h2>

<%= form_for @door_glass_family do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_geth('BUTTON_ADD') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), door_glass_families_path %>

