<h2><%= trn_geth('TITLE_OPENING_LIST') %></h2>

<%= link_to trn_geth('BUTTON_ADD'), :action => 'add' %>
<table cellspacing="0" style="width:100%;">
  <tr class="header">
    <th><%= trn_geth('HEADER_NAME') %></th>
    <th><%= trn_geth('HEADER_LABEL') %></th>
    <th><%= trn_geth('HEADER_ABBREVIATION') %></th>
    <th><%= trn_geth('HEADER_OPENABLE') %></th>
    <th><%= trn_geth('HEADER_GLASSES_QUANTITY') %></th>
    <th><%= trn_geth('HEADER_PREVIEW') %></th>
    <th></th>
  </tr>
<% for opening in @openings %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to opening.tr_name, :action => 'edit', :id => opening %></td>
    <td><%= opening.tr_label %></td>
    <td><%= opening.tr_abbreviation %></td>
    <td><%= yes_or_no(opening.openable) %></td>
    <td><%= opening.glasses_quantity %></td>
    <td>
      <% if opening.preview_image_name and !opening.preview_image_name.empty? %>
        <%= image_tag 'openings/' + opening.preview_image_name %>
      <% end %>
    </td>
    <td valign='middle'>
      <%= link_to image_tag('page_white_edit.png', :title => trn_geth('BUTTON_EDIT'), :class => 'command-icon'), :action => 'edit', :id => opening %>
      <%= link_to image_tag('delete.png', :title => trn_geth('BUTTON_DELETE'), :class => 'command-icon'), {:action => 'delete', :id => opening}, :confirm => trn_geth('LABEL_DELETE_QUESTION') %>
    </td>
  </tr>
<% end %>
</table>
