<h2>
<%= trn_get(current_user.has_role?('administrator') ? 'TITLE_SEND_EMAIL_TO_USERS' : 'TITLE_SEND_EMAIL_TO_ADMIN')%>
</h2>

<% form_for(@email) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label trn_get('LABEL_SUBJECT') + trn_get('LABEL_SEMICOLON') %><br />
    <%= f.text_field :subject, :size => 90 %>
  </p>
  <p>
    <%= f.label trn_get('LABEL_MESSAGE') + trn_get('LABEL_SEMICOLON') %><br />
    <%= f.text_area :body, :cols => 80, :rows => 10 %>
  </p>
  <p>
    <%= f.submit trn_get("BUTTON_SEND") %> | <%= link_to 'Back', emails_path %>
  </p>
<% end %>

