<%= error_messages_for "serie" %>

  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_NAME') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td colspan="3"><%= text_field "serie", "name", :size => 75 %></td>
  </tr>
  <%#= gv_fields_for(@serie, 'name', 'LABEL_NAME',  :size => 75) %>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_DESCRIPTION') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td colspan="3"><%= text_field "serie", "description", :size => 75 %></td>
  </tr>
