<table>
<tr >
  <td colspan="5" style="border-left:1px solid #808080;border-right:1px solid #808080;border-bottom:1px solid #808080;">
    <table cellspacing="5">
      <tr>
        <td valign="top" colspan="5">
          <p>
            <%= trn_geth('PRINT_SIGNATURE_BLOCK_LINE1') %> <br /><br />
            <%= trn_geth('PRINT_SIGNATURE_BLOCK_LINE2') %>
          </p>
          <p><strong><%= @quotation.company.name %></strong><%= trn_geth('PRINT_SIGNATURE_BLOCK_LINE3') %></p>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="height:2em;"><p>&nbsp;<br />&nbsp;</p></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td width="40%" style="border-top:1px solid #808080;font-size:1.2em;text-transform:uppercase;">
          <p style="text-align:center;"><%= trn_geth('PRINT_SIGNATURE_SALES_REP_NAME')%></p>
        </td>
        <td width="40%" style="border-top:1px solid #808080;font-size:1.2em;text-transform:uppercase;">
          <p style="text-align:center;"><%= trn_geth('PRINT_SIGNATURE_CLIENT_NAME')%></p>
        </td>
        <td width="15%" style="border-top:1px solid #808080;font-size:1.2em;text-transform:uppercase;">
          <p style="text-align:center;"><%= trn_geth('PRINT_DATE')%></p>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr >
        <td valign="top" colspan="5">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
  <tr>
    <td colspan="5" style="border-left:1px solid #808080;border-right:1px solid #808080;border-bottom:1px solid #808080;">
      <%= trn_get('DISCLAIMER_TEXT').gsub("\n", '<br/><br/>').html_safe  %>
    </td>
  </tr>
</table>