<h2><%= trn_geth('HEADER_OPENINGS_FOR_SERIE') %> <%= @serie.name %></h2>

<%= form_tag :action => 'update_openings', :id => @serie do %>
  <% for opening in @openings %>
    <%= check_box_tag 'openings[]', opening.id, @serie.openings.include?(opening) ? true : false %><%= opening.name %><br/>
  <% end %>
  <%= submit_tag trn_geth('BUTTON_SAVE') %>
<% end %>
