<% @door_line_sections.each_with_index do |door_line_section, index| %>
  <div class="door-line-section<%= ' last' if index == @door_line_sections.length - 1 %>">

    <div class="label">
      <%= door_line_section[:door_section].name %>
    </div>

    <%= hidden_field_tag "door_line_sections[][door_section_id]", door_line_section[:door_line_section].door_section_id, :id => 'door-section-id '%>
    <%= hidden_field_tag "door_line_sections[][door_panel_id]", door_line_section[:door_line_section].door_panel_id, :id => 'door-panel-id' %>
    <%= hidden_field_tag "door_line_sections[][door_glass_id]", door_line_section[:door_line_section].door_glass_id, :id => 'door-glass-id' %>
    <%= hidden_field_tag "door_line_sections[][door_panel_dimension_id]", door_line_section[:door_line_section].door_panel_dimension_id, :id => 'door-panel-dimension-id' %>
    <% unless door_line_section[:door_panel_families].blank? %>
      <div class="section-label"><%= trn_get('LABEL_DOOR_PANEL') %><%= trn_geth('LABEL_SEMICOLON') %></div>
      <div class="selection-door-panel">
        <div class="selected-door-panel"></div>
        <div class="door-panels-list choice-list door-popup">
          <% door_line_section[:door_panel_families].each do |door_panel_family| %>
            <div class="family-name"><%= door_panel_family.name %></div>
            <% door_line_section[:door_section].door_panels.each do |door_panel| %>
              <% if door_panel.door_panel_family_id == door_panel_family.id %>
                <div class="choice door-panel <%= 'selected' if door_panel.id == door_line_section[:door_line_section].door_panel_id %>" id="dp-<%= door_panel.id %>">
                  <div class="preview-image">
                    <%= image_tag '/images/door_panels/' + door_panel.preview_image_name %>
                  </div>
                  <div class="label">
                    <%= door_panel.name %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="section-label"><%= trn_get('LABEL_DOOR_GLASS') %><%= trn_geth('LABEL_SEMICOLON') %></div>
      <div class="selection-door-glass-family"></div>
    <% end %>
    <div class="section-label"><%= trn_get('LABEL_DOOR_PANEL_DIMENSION') %><%= trn_geth('LABEL_SEMICOLON') %></div>
    <div class="selection-door-panel-dimensions"></div>
  </div>
<% end %>
