<h1><%= trn_geth('TITLE_CUSTOMER_LIST') %></h1>

<%= will_paginate @customers, :class => "apple_pagination", :next_label => trn_get('NEXT_PAGE'), :previous_label => trn_get('PREVIOUS_PAGE') %>
<table>
  <tr>
  <% for column in Customer.content_columns %>
    <th><%= trn_get(column.human_name)  unless %w{created_at updated_at}.include?(column.name) %></th>
  <% end %>
	<th colspan="3"><%= trn_geth('HEADER_ACTION')%></th>
  </tr>
  
<% for customer in @customers %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to(customer.name, :action => 'edit', :id => customer) %></td>
    <td><%= customer.address %></td>
    <td><a href="tel:<%= customer.phone %>"><%= customer.phone %></a></td>
    <td><%= customer.fax %></td>
    <td><a href="mailto:<%= customer.email %>"><%= customer.email %></a></td>
    <td colspan="5"><%= link_to trn_geth('BUTTON_DELETE'), { :action => 'destroy', :id => customer }, :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :post %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @customers, :class => "apple_pagination", :next_label => trn_get('NEXT_PAGE'), :previous_label => trn_get('PREVIOUS_PAGE') %>


<br />

<%= link_to trn_get('LABEL_CUSTOMER_CREATE'), :action => 'new' %>
