<h1><%= trn_geth('TITLE_CUSTOMER_LIST') %></h1>

<%= form_tag '/customers/search', :remote =>true , :id => 'customer-search-form' do %>

  <div id="results">
    <%= render :partial => 'customer_list'%>
  </div>
  <%= submit_tag 'Search', :style => 'position:absolute;bottom:-20px;left:-20px;z-index:-1;'%>
<% end %>

<br />

<%= link_to trn_get('LABEL_CUSTOMER_CREATE'), :action => 'new' %>

<% content_for :extra_javascript do %>
  // :update => "results"

  $('#customer-search-form').bind('ajax:beforeSend', function(evt, xhr, settings){
  jQuery("#loading").toggle();
  })
  .bind('ajax:success', function(evt, data, status, xhr){
  eval(xhr.responseText);
  })
  .bind('ajax:failure', function(evt, data, status, xhr){
  });
<% end %>
