<!DOCTYPE html >
<html>
<head>
  <title><%= trn_get('SITE_TITLE') %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="Shortcut Icon" href="/images/favicon.ico"/>
  <%= stylesheet_link_tag "application", "formtastic", "formtastic_changes", "colorpicker", "door_lines", 'pagination' %>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery', 'colorpicker', 'hover-popup', 'door_lines' %>
  <script type="text/javascript" charset="utf-8">
      jQuery.noConflict();

      jQuery(document).ready(function() {
          // put all your jQuery goodness in here.
          jQuery("img.popup").thumbPopup({
              imgSmallFlag: "thumb",
              imgLargeFlag: "original"
          });
      });
  </script>

  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
  <%= image_tag 'haut_glassvision.gif', :size => "646x53" %>
</div>
<div id="nav">
  <ul>
    <li><%= link_to image_tag("fr.png", :border => 0, :class => "flag"), :controller => 'home', :action => 'set_lang', :lang => "fr" %></li>
    <li><%= link_to image_tag("us.png", :border => 0, :class => "flag"), :controller => 'home', :action => 'set_lang', :lang => "en" %></li>
    <li><%= link_to image_tag("es.png", :border => 0, :class => "flag"), :controller => 'home', :action => 'set_lang', :lang => "es" %></li>
    <li><%= link_to trn_get('MENU_HOME'), :controller => 'home' %></li>
    <% if logged_in? %>
        <!--        <li>Hi, <%= link_to h(current_user.login.capitalize), user_path(current_user) %></li> -->
        <!--        <li><%= link_to 'Profile', edit_user_path(current_user) %></li> -->
        <!--          <li><%= link_to 'Change Password', change_password_path %></li> -->
        <% if current_user.has_role?('administrator') %>
            <li><%= link_to trn_geth('MENU_ADMIN_USERS_LABEL'), users_path %></li>
        <% end %>
    <% end %>
  </ul>
  <% if logged_in? %>
      <div id='greeting' class="clearfix">
        <ul>
          <li><%= trn_geth('MENU_GREETING_LABEL') %>,<%= link_to h(current_user.login), edit_user_path(current_user) %>
            .
          </li>
          <li><%= link_to trn_geth('MENU_LOGOUT_LABEL'), logout_path %></li>
        </ul>
      </div>
  <% end %>
</div>
<!-- nav -->
<div id="wrap">
  <div id="leftnav">
    <!-- this is the left nav menu -->
    <ul>
      <li><%= menu_item 'home', 'MENU_HOME', :controller => 'home' %></li>
      <% if logged_in? %>
        <li><%= menu_item 'folder', 'TITLE_QUOTATION_LIST', quotations_path %></li>
        <li><%= menu_item 'users_two', 'MENU_CUSTOMERS', :controller => 'customer', :action => 'list' %></li>
        <li><%= menu_item 'mail', 'MENU_SEND_MAIL', :controller => 'emails', :action => 'new' %></li>
        <% if current_user.has_role?('administrator') %>
          <li><%= menu_item 'series', 'TITLE_SERIE_LIST', :controller => 'serie', :action => 'list' %></li>
          <li><%= menu_item 'window', 'TITLE_SHAPE_LIST', shapes_path %></li>
          <li><%= menu_item 'image_32', 'TITLE_OPENING_LIST', :controller => 'opening', :action => 'list' %></li>
          <% ModuleType.all.each do |mt| %>
            <li><%= menu_item 'process', 'TITLE_OPTION_LIST', { :controller => 'option', :action => 'list', :mt => mt.id }, :label => mt.tr_name.downcase %></li>
          <% end %>
          <li><%= menu_item 'process', 'TITLE_OPTION_CATEGORY_LIST', :controller => 'option_category', :action => 'list' %></li>
          <% ModuleType.all.each do |mt| %>
            <li><%= menu_item 'colors', 'TITLE_PRODUCT_COLORS_LIST', product_colors_path(:mt => mt.id), :label => mt.tr_name.downcase %></li>
          <% end %>
          <li><%= menu_item 'companies', 'TITLE_COMPANY_LIST', :controller => 'company', :action => 'list' %></li>
          <li><%= menu_item 'user', 'MENU_ADMIN_USERS_LABEL', users_path %></li>
          <li><%= menu_item 'comment', 'TITLE_TRANSLATION_LIST', :controller => 'translation', :action => 'list' %></li>
          <li><%= menu_item 'comment', 'TITLE_DBTF_LIST', :controller => 'database_translation_field', :action => 'list' %></li>
          <li><%= menu_item 'comment', 'TITLE_DBT_LIST', :controller => 'database_translation', :action => 'list' %></li>
          <li><%= menu_item 'window', 'TITLE_DOOR_FRAME_LIST', door_frames_path %></li>
          <li><%= menu_item 'window', 'TITLE_DOOR_COMBINATION_LIST', door_combinations_path %></li>
          <li><%= menu_item 'window', 'TITLE_FRAME_PROFILE_LIST', frame_profiles_path %></li>
          <li><%= menu_item 'window', 'TITLE_SLAB_MATERIALS_LIST', slab_materials_path %></li>
          <li><%= menu_item 'window', 'TITLE_DOOR_PANEL_FAMILY_LIST', door_panel_families_path %></li>
          <li><%= menu_item 'window', 'TITLE_DOOR_GLASS_FAMILY_LIST', door_glass_families_path %></li>
          <li><%= menu_item 'window', 'TITLE_DOOR_OPENING_LIST', door_openings_path %></li>
          <li><%= menu_item 'window', 'TITLE_DOOR_BORING_LIST', door_borings_path %></li>
          <li><%= menu_item 'window', 'TITLE_DOOR_SECTION_LIST', door_sections_path %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id='content'>
    <% if flash[:error] %>
        <div class="error">
          <table>
            <tr>
              <td>
                <%= flash[:error] %>
              </td>
            </tr>
          </table>
        </div>
    <% end %>
    <% if flash[:notice] %>
        <div class="notice">
          <table>
            <tr>
              <td>
                <%= flash[:notice] %>
              </td>
            </tr>
          </table>
        </div>
    <% end %>

    <%= yield %>
  </div>
</div>
</body>
</html>
