<h2><%= trn_get('TITLE_DOOR_FRAME_EDIT') %></h2>

<%= form_for @door_frame do |f|%>
  <%= render :partial => 'form', :locals => { :f => f }  %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), door_frames_path %> |
<%= link_to trn_geth('BUTTON_DELETE'), door_frame_path(@door_frame), :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
